<ul class="nav nav-tabs">
{{#link-to 'accounts'  tagName='li' data-toggle="tab" }} <a {{bind-attr href="view.href"}}> accounts</a>{{/link-to}}
{{#link-to h tagName='li' data-toggle="tab" }} <a {{bind-attr href="view.href"}}>Features </a>{{/link-to}}
</ul>
