<div class="container">
  <div class="row">
        <div class="col-md-6">
	    <div class="well">
         Inbox Messages <span class="badge pull-right"> 2
           </span>
         </div> <!-- closes class .well -->
              
          <div class="panel">
              <div class="panel-heading">
                  <i class="icon icon-chevron-up chevron"></i>
                  <i class="icon icon-wrench pull-right"></i> Quick Start
               </div><!-- closes .panel-heading -->

                <div class="panel-content">
                 
                   <div class="btn-group btn-group-justified">
                      <a class="btn btn-primary col-sm-3" href="#">
                         <i class="glyphicon glyphicon-plus"></i>
                          <p>Service</p>
                      </a>
                       <a class="btn btn-primary col-sm-3" href="#">
                          <i class="glyphicon glyphicon-cloud"></i>
                          <p>Cloud</p>
                       </a>
                       <a class="btn btn-primary col-sm-3" href="#">
                          <i class="glyphicon glyphicon-cog"></i>
                        <p>Tools</p>
                       </a>
                       <a class="btn btn-primary col-sm-3" href="#">
                         <i class="glyphicon glyphicon-question-sign"></i>
                         <p>Help</p>
                        </a>
                        
                      </div> <!-- closes .btn-group-justified -->
                  </div><!-- .panel-content-->
              </div><!-- .panel-->
              
              
              <div class="panel panel-default">
                 <div class="panel-heading">Report</div>

                  <table class="table table-striped">
                      <thead>
                        <tr><th>Visits</th><th>ROI</th><th>Source</th></tr>
                      </thead>
                      <tbody>
                        <tr><td>45</td><td>2.45%</td><td>Direct</td></tr>
                        <tr><td>289</td><td>56.2%</td><td>Referral</td></tr>
                        <tr><td>98</td><td>25%</td><td>Type</td></tr>
                        <tr><td>..</td><td>..</td><td>..</td></tr>
                        <tr><td>..</td><td>..</td><td>..</td></tr>
                      </tbody>
               	</table>
              </div><!-- .panel panel-default-->
              
              
              <div class="panel panel-default">
                  <div class="panel-heading">Charts</div>
                  <div class="panel-body">
                      <img class="img-responsive" src="http://www.wired.com/playbook/wp-content/uploads/2012/08/data-tracking-run-chart.jpg" />
                   </div><!-- closes panel-body -->
              </div><!-- .panel panel-default-->
              
            </div> <!-- closes .col-md-6 under .row -->

        	<div class="col-md-6">
		  <div class="panel panel-default">
                  <div class="panel-heading">Bootstrap 3</div>
                  <div class="panel-body">
                  This is a dashboard-style layout that uses Bootstrap 3 RC. You can follow the ongoing pre-release discussions about Bootstrap 3.0 on this <a href="https://github.com/twitter/bootstrap/pull/6342">GitHub thread</a>.
                      <br/><br/>
                  This Bootstrap 3 dashboard layout is compliments of <a href="http://bootply.com">Bootply</a>.
                  </div>  <!-- closes .panel-body -->
              	</div> <!-- closes panel panel-default -->

                  <div class="panel panel-default">
                  <div class="panel-heading">
                     <div class="panel-title">Engagement</div>
                  </div> <!-- closes .panel-heading -->

                  <div class="panel-body pull-center">	
                   	
                      <img class="img-circle" src="http://placehold.it/90X90/CC2222/FFF" />
                    
                      <img class="img-circle" src="http://placehold.it/90X90/11CC22/FFF" />
                    
                      <img class="img-circle" src="http://placehold.it/90X90/EEEEEE/222" />
                    
                  </div> <!closes .panel-body pullcenter -->
               </div><!-- panel panel-default -->
              
              
               	<i class="icon-bar-chart icon-3x"></i>
              	<i class="icon-plus icon-3x"></i>
              	<i class="icon-facebook icon-3x"></i>
              	<i class="icon-beaker icon-3x"></i>
              	<i class="icon-twitter icon-3x"></i>
              	
              
	</div><!-- .col-md-6-->
     
     </div> <!-- closes .row -->

</div> <!-- closes .container -->
