<div class="container">
  <div class="row">
   <nav class="navbar navbar-default" " role="navigation">
      <div class="navbar-header">
       <a class="navbar-brand" href="#">SMB</a>
       <p class="navbar-text navbar-left">Signed in as <a href="#" class="navbar-link">Ene Joy</a></p>
       </div> <!-- closes   .navbar-header -->

        <!-- emberjs handlebars component -->
        {{navigation-bar}}
     
     
     </nav> <!-- closes navbar-default -->
    </div> <!- closes row -->
    
      {{outlet}}
      
  </div> <!--  closes container -->
      
      
      
      