<div class="container">

  <div class="row col-xs-3 well">
     <ul class="list-group">
       <li class="list-group-item">{{#link-to 'campaigns' class="btn btn-danger"}} campaigns{{/link-to}}</li>
      <ul>
  </div>

  <div class="row col-xs-9 well marketing">
    {{outlet}}
  </div>
</div> <!-- closes container -->
