<div class="container">

  <div class="row col-xs-3">
     <ul class="list-group">
       <li class="list-group-item">{{#link-to 'prospects' class="btn btn-danger"}} Prospects {{/link-to}}</li>
       <li class="list-group-item">{{#link-to 'contacts' class="btn btn-danger"}} contacts {{/link-to}}</li>
      </ul>
  </div>

  <div class="row col-xs-9  marketing">
    {{outlet}}
  </div>
</div> <!-- closes container -->
